@using Microsoft.AspNetCore.Identity
@using FilmSitesi.Web.Models.Entities
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link"
           asp-controller="Profile"
           asp-action="Index"
           asp-route-userId="@UserManager.GetUserId(User)">
           👤 @UserManager.GetUserName(User)
        </a>
    </li>

    <li class="nav-item">
        <form asp-area="Identity" asp-page="/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Çıkış Yap</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Kayıt Ol</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Giriş Yap</a>
    </li>
}

</ul>